td {
     width: 40px;
     height: 20px;
    border: 1px solid black;
}

#tab1 {
    caption-side: top;
    border-collapse: separate;
    empty-cells: hide;
}

#tab2 {
    caption-side: bottom;
    border-collapse: separate;
    empty-cells: show;
}

#tab3 {
    caption-side: top;
    border-collapse: collapse;
    empty-cells: show;
}

#tab4 {
    caption-side: bottom;
    border-collapse: collapse;
    empty-cells: hide;
}

.impair {
    background-color: darkgrey;
}

.pair td:first-letter {
    text-transform: capitalize;
}